/* Center alignment for the container */
.charcters_list_page,.charcters_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
  }
  .charcters_table{
    width: 100%;
  }
  
  /* Table styling */
  table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .characters_home{
    height: 70vh;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  th {
    background-color: #f4f4f4;
    font-weight: bold;
    cursor: pointer;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Button styling */
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  /* Pagination controls */
  select {
    padding: 5px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  span {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
  }